.fabrics {
    background-color: #fff;
    padding: 60px 20px;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fabrics-img {
    background-image: url("../../assets/hero-images/material.png");
    border: 1px solid #e0e0e0;
    padding: 60px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: center;
    width: 1200px;
    height: 150px;
    margin-top: -40px;
    
  }

  .materials-page {
    padding: 30px;
  }
  
  .page-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: #2C3E50;
  }
  
  .page-subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: #666;
  }
  
  .filters-form {
    margin-bottom: 40px;
    display: flex;
    justify-content:center;
  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
  }
  
  .filter-group {
    display: flex;
    flex-direction: row;
  }  
  
  .filter-group label {
    font-weight:bold;
    margin-bottom: 5px;
    color: #2C3E50;
    margin-right: 10px;

  }
  
  .filter-group input,
  .filter-group select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 180px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .find-button {
    padding: 8px 12px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .find-button:hover {
    background-color: #159d82;
  }
  
  .fabrics-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }

  
  