.become-seller {
    background-color: #fff;
    padding: 60px 20px;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .become-seller-img {
    background-image: url("../../assets/hero-images/become selller.png");
    border: 1px solid #e0e0e0;
    padding: 60px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: center;
    width: 1200px;
    height: 150px;
    margin-top: -40px;
    
  }


  
  
  