.featured, .featured1  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    border-radius: 16px;
    margin: 40px auto;
    max-width:1200px;
  }
  .featured {
    background: linear-gradient(to left,  #6d563f 0%, #f8f9fa 100%);
  }
  .featured1 {
    background: linear-gradient(to left,  #656e5b 0%, #f8f9fa 100%);
  }
  
  .left {
    flex: 1;
    padding-right: 40px;
  }
  
  .left h1 {
    font-size: 2.8rem;
    color: #2C3E50;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .left p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    
  }
  
  .btn {
    background-color: #1ABC9C;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn:hover {
    background-color: #16a085;
    transform: scale(1.05);
  }
  
  .right {
    flex: 1;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .featured-img {
    max-width: 100%;
    height: auto;
    border-radius: 12px 12px;
    object-fit:contain;
    padding-left: -50px;
  }
  /*Responsive Styles*/
  @media screen and (max-width: 768px) {
    .featured, .featured1 {
      flex-direction: column;
      padding: 20px;
    }
  
    .left {
      padding-right: 0;
      text-align: center;
    }
  
    .left h1 {
      font-size: 2.5rem;
    }
  
    .left p {
      font-size: 1rem;
    }
  
    .btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  
    .right {
      margin-top: 20px;
    }
  
    .featured-img {
      width: 100%;
      height: auto;
    }
  }