.header__logo .logo-link {
    display: flex;
    align-items:center;
    text-decoration: none;}

    body {
        margin: 0;
        background-color: #ffffff; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffffff;
      }
      
      
      