.professionals {
    background-color: #fff;
    padding: 60px 20px;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
  }
  
  .professional_img {
    background-image: url("../../assets/hero-images/hero-img.png") ;
    background-size: cover;
    background-position: center;
    border: 1px solid #e0e0e0;
    padding: 60px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    width: 1200px;
    height: 150px;
    margin-top: -40px;
    margin-left: 30px;
  
    
  }

  h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
    
  }
  
  .professional-desc {
    text-align: center;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #555;
  }

  .professional_card {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap: 12px;
    padding: 10px;
   
  }
  
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
    margin-bottom: 2rem;
    margin-left: 30px;
    
  }
  
  .filters label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .filters input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 150px;
  }
  
  .filters button {
    padding: 8px 16px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filters button:hover {
    background-color: #17a589;
  }
  
/* Responsive UI */
@media (max-width: 768px) {
    .professional_img {
      width: 70%;
      padding: 20px 40px;
      margin-top: 0;
    }
    .professional_card {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .filters {
      flex-direction: column;
      align-items: flex-start;
    }
    .filters input, .filters button {
      width: 100%;
    }

  }

  
  
  